/*
!.gitignore
!README.md
!indagini.sql

#deal with subs
!sections/
sections/*
sections/templates/*
!sections/indagini.php
!sections/vaccinazioni.php

!templates/
templates/*
!templates/template_menu.php
!templates/template_page_indagini.php
!templates/template_page_vaccinazioni.php

!modello PBAC/
modello PBAC/*
modello PBAC/graphic/*
modello PBAC/Login/*
modello PBAC/pdfLib/*
modello PBAC/PHPMailer/*
modello PBAC/Security Framework/*
!modello PBAC/Utility.php

!formscripts/
formscripts/*
!formscripts/indagini.js
!formscripts/vaccinazioni.js
!formscripts/nuovaVaccinazione.php
!formscripts/nuovaIndagine.php

!assets/
assets/*
!assets/js
assets/js*
!assets/js/moment-with-locales.min.js