/*
!.gitignore
!README.md
!indagini.sql

#deal with subs
!sections/
sections/*
sections/templates/*
!sections/indagini.php

!templates/
templates/*
!templates/template_menu.php
!templates/template_page_indagini.php