/*
!.gitignore
!README.md
!tabelleIndagini_NoData.sql


#deal with subs
!Docs/

!sections/
sections/*
sections/templates/*
!sections/indagini.php
!sections/vaccinazioni.php

!templates/
templates/*
!templates/template_menu.php
!templates/template_page_indagini.php
!templates/template_page_vaccinazioni.php
!templates/template_page_files.php

!modello PBAC/
modello PBAC/*
modello PBAC/graphic/*
modello PBAC/Login/*
modello PBAC/pdfLib/*
modello PBAC/PHPMailer/*
modello PBAC/Security Framework/*
!modello PBAC/Utility.php

!formscripts/
formscripts/*
!formscripts/indagini.js
!formscripts/vaccinazioni.js
!formscripts/nuovaVaccinazione.php
!formscripts/nuovaIndagine.php
!formscripts/modificaIndagine.php
!formscripts/eliminaIndagine.php

!assets/
assets/*
!assets/js/
assets/js/*
!assets/js/moment-with-locales.min.js

!files/
files/*
!files/uploadFiles.php
!files/funzioniFiles.php
!files/configFiles.php
!files/uploads/
files/uploads/*
!files/uploads/refertiIndagini/
files/uploads/refertiIndagini/*
!files/uploads/refertiIndagini/.gitkeep
!files/uploads/allegatiIndagini/
files/uploads/allegatiIndagini/*
!files/uploads/allegatiIndagini/.gitkeep

